:root {
  font-size: 1rem;
  --medium-gray: #ddd;
  --gray: #6a6a6a;
}

html {
  overflow-y: scroll
}

a:hover {
  border-bottom: 1.5px solid var(--gray);
}

a {
  text-decoration: none;
  border-bottom: 1.5px solid var(--medium-gray);
}

#header, #main, aside, img {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

#header {
  font-family: monospace;
  text-align: center;
}
